#navbarDiv {
    background-color: rgb(7, 96, 7);
    color: white;
    padding: 10px;
}

#navbarDiv span {
    margin-left: 80px;
    font-size: 30px;
    cursor: pointer;
}

#navbarDiv .cart {
    margin-left: 800px;
}

#belownav {
    margin-left: 30px;
    color: rgb(77, 73, 73);
    margin-top: 20px;
}

#belownav>div {
    margin-bottom: 20px;
}

#belownav span {
    font-size: 22px;
    margin-right: 1000px;
}

#belownav button {
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
}

#belownav span,
#belownav button {
    margin-left: 20px;

}

#searchbar {
    margin-left: 50px;
    margin-top: 30px;
}

#searchbar input {
    padding: 6px 10px;
    border-radius: 12px;
    width: 400px;
}

#searchbar button {
    margin-left: 800px;
    padding: 5px 10px;
    color: rgb(3, 83, 3);
    border-color: rgb(3, 83, 3);
    background-color: white;
    border-radius: 12px;
}